@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Saira+Stencil+One&display=swap");

:root {
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: rgba(255, 255, 255, 1);
  color: rgba(255, 255, 255, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button:hover {
  scale: 120%;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-left: auto;
}
.header__icon {
  display: none;
}

.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  background: transparent;
  display: flex;
  height: 60px;
  background: rgba(20, 18, 18, 1);
  border-bottom: 1px solid rgba(1, 125, 185, 1);
}
.header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;

  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  background: rgba(20, 18, 18, 1);
  border-bottom: 1px solid rgba(1, 125, 185, 1);
}
.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: end;
}
.policy-terms-header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__icon {
  display: none;
}
.header__icon-button {
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 16px;
  position: relative;
}

.navigation__list {
  display: flex;
  flex-direction: column;

  align-items: start;

  top: 130px;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;

  padding: 44px;

  gap: 28px;
  background: rgba(20, 18, 18, 1);
  border-bottom: 1px solid rgba(1, 125, 185, 1);
}
.navigation__list.is-open {
  right: 0;
}
.navigation__link {
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  letter-spacing: 0%;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}
.navigation__link:hover,
.navigation__link:focus {
  font-weight: 700;
}
.header.is-open {
  background-color: transparent;
}
.navigation-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .navigation-img {
    display: flex;
  }
  .policy-terms-header__icon--menu {
    display: none;
  }

  .header {
    width: 100%;

    height: 80px;
    padding: 10px 20px 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
  }
  .header__background {
  }

  .header__icon-button {
    display: none;
  }

  .navigation {
    display: flex;

    flex-direction: row;

    flex: 1;
    padding: 0;

    width: 1440px;
    margin: auto;
  }
  .navigation__list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;

    padding-block: 0;
    flex: 1;
    gap: 0px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    border: none;
  }
  .navigation__link {
    font-family: Plus Jakarta Sans;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    padding: 0 30px;
    text-decoration: none;
  }

  .header__icon-home-img {
    display: none;
  }
  .navigation__item-desk {
    display: none;
  }
}

.home {
  width: 375px;
  height: 912px;

  padding: 62px 20px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/home/Home.png");
  margin: auto;
}

.home__container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-title {
  font-family: Saira Stencil One;
  font-weight: 400;
  font-size: 60px;
  line-height: 64px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  color: rgba(3, 148, 218, 1);
}

.home-text {
  font-family: Manrope;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: justify;

  padding: 24px 0;
}
.home-text-two {
  font-family: Manrope;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: justify;
  padding-bottom: 30px;
}
.home__google-button_image {
  width: 287px;
  height: 68px;
}
.home__google-button_link:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 1200px) {
  .home {
    width: 1440px;
    height: 657px;
    padding: 130px 80px 0px;
    background-image: url("/image/home/Home\ \(1\).png");
  }
  .home__container-top {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 656px;
  }
  .home-title {
    font-family: Saira Stencil One;
    font-weight: 400;
    font-size: 88px;
    line-height: 100px;
    letter-spacing: 0%;
  }

  .home-text {
    font-family: Manrope;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;

    padding: 40px 0 32px;
  }
  .home-text-two {
    font-family: Manrope;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;

    width: 362px;
    padding: 0;
  }
  .home__google-button_link {
    margin-left: 392px;
    margin-top: -60px;
  }
}
.about {
  padding: 60px 20px;
  margin: auto;
  width: 375px;
  background: rgba(22, 22, 22, 1);
}

.about-title {
  font-family: Plus Jakarta Sans;
  font-weight: 800;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}

.about-text {
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;

  padding: 40px 0px 20px;
}
.about-text-two {
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}
.about-text-three {
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  list-style-type: disc;

  padding: 20px 0 56px 25px;
}
.about-img {
  width: 335px;
  height: 188.4375px;
}
.about-text-four {
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 28px;
}
.about-text-bold {
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .about {
    padding: 96px 80px;
    margin: auto;
    width: 1440px;
    display: flex;
    flex-direction: row-reverse;
    gap: 56px;
  }

  .about-title {
    font-family: Plus Jakarta Sans;
    font-weight: 800;
    font-size: 48px;
    line-height: 52px;
    letter-spacing: 0%;
  }

  .about-text {
    font-family: Plus Jakarta Sans;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;

    padding: 60px 0px 20px;
  }
  .about-text-two {
    font-family: Plus Jakarta Sans;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
  }
  .about-text-three {
    font-family: Plus Jakarta Sans;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;

    padding: 30px 0 0px 25px;
  }
  .about-img {
    width: 632px;
    height: 355.5px;
  }
  .about-text-four {
    font-family: Plus Jakarta Sans;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;

    padding-top: 28px;
  }
  .about-text-bold {
    font-family: Plus Jakarta Sans;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: center;
  }
}
.how {
  width: 375px;
  height: 1646px;
  margin: auto;
  padding: 60px 20px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/how/How\ to\ Play.png");
}

.how-list {
  padding-top: 40px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.how-item {
  width: 335px;
  height: 221px;
  padding: 48px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/how/Frame\ 1597880521.png");
}

.how-text-bold {
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
}
.how-text {
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  padding-top: 12px;
}

@media screen and (min-width: 1200px) {
  .how {
    width: 1440px;
    height: 786px;
    padding: 96px 80px 0;
    background-image: url("/image/how/How\ to\ Play\ \(1\).png");
  }

  .how-list {
    padding-top: 60px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 44px;
  }
  .how-item {
    width: 396px;
    height: 221px;

    padding: 48px;

    background-image: url("/image/how/Frame\ 1597880523.png");
  }
  .how-text {
    font-family: Plus Jakarta Sans;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0%;
  }
}

.reviews {
  width: 375px;
  height: 556px;
  margin: auto;
  padding: 60px 0px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-image: url("/image/reviews/Reviews.png");
}

.reviews-list {
  width: auto;
  padding-top: 40px;
  padding-bottom: 29px;
  margin: auto;
}
.reviews-item {
  margin: 0 5px;
  width: 335px;
  height: 276px;
  padding-top: 36px;
  padding-right: 24px;
  padding-bottom: 36px;
  padding-left: 24px;
  background: rgba(22, 22, 22, 1);
  border: 1px solid rgba(3, 148, 218, 1);
  border-radius: 12px;
}
.reviews-item-top {
  display: flex;
  gap: 16px;
  align-items: center;
}
.reviews-img {
  width: 48px;
  height: 48px;
}
.reviews-text-bold {
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
}
.reviews-text {
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  padding-top: 24px;
}

.gallery-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.gallery-button {
  background-color: transparent;
  border: none;
  padding: 0;
  -webkit-transition: scale 0.3s ease;
  transition: scale 0.3s ease;
}

.gallery-button:hover {
  scale: 120%;
}
.gallery-button-container-two {
  display: none;
}
@media screen and (min-width: 1200px) {
  .gallery-button-container-two {
    display: flex;
  }
  .gallery-button-container-three {
    display: none;
  }
  .reviews {
    width: 1440px;
    height: 580px;
    margin: auto;
    padding: 96px 80px 0;
    background-image: url("/image/reviews/Reviews\ \(1\).png");
  }
  .about-title-div {
    display: flex;
    justify-content: space-between;
  }
  .reviews-list {
    width: auto;
    padding-top: 60px;
    padding-bottom: 0px;
    margin: auto;
  }
  .reviews-item {
    margin: 0 16px;
    width: 309px;
    height: 276px;
    padding-top: 36px;
    padding-right: 24px;
    padding-bottom: 36px;
    padding-left: 24px;
    background: rgba(22, 22, 22, 1);
    border: 1px solid rgba(3, 148, 218, 1);
    border-radius: 12px;
  }
  .reviews-item-top {
    display: flex;
    gap: 16px;
    align-items: center;
  }
}

.faq {
  padding: 60px 20px;
  margin: auto;
  width: 375px;
  background: rgba(22, 22, 22, 1);
}
.faq-container {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.faq-item {
  border-radius: 12px;
  border: 1px solid rgba(3, 148, 218, 1);
  padding: 24px;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: Plus Jakarta Sans;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
}

.toggle-button {
  background: none;
  border: none;

  cursor: pointer;
}
.open {
  background: rgba(43, 43, 43, 1);
  border: none;
  background: rgba(43, 43, 43, 1);
}
.faq-answer {
  display: none;
  padding-top: 16px;
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  background: rgba(43, 43, 43, 1);
}
@media screen and (min-width: 1200px) {
  .faq {
    padding: 96px 80px;

    width: 1440px;
  }
  .faq-container {
    padding-top: 60px;
    gap: 20px;
  }

  .faq-question {
    font-family: Plus Jakarta Sans;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
  }

  .faq-answer {
    font-family: Plus Jakarta Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
  }
}
.gallery {
  width: 375px;
  margin: auto;
  padding: 60px 0px;
  background: rgba(22, 22, 22, 1);
}

.gallery__list {
  width: auto;
  padding-top: 32px;
  padding-bottom: 32px;
  margin: auto;
}
.gallery__item {
  width: 334px;
  height: 187.875px;

  overflow: hidden;
  position: relative;
  margin: 0 4px;
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media screen and (min-width: 1200px) {
  .gallery {
    width: 1440px;
    margin: auto;
    padding: 96px 80px;
  }
  .gallery-div {
    display: flex;
    justify-content: end;
    gap: 400px;
  }
  .gallery__item {
    width: 802px;
    height: 451.125px;
    margin: 0 10px;
    overflow: hidden;
    position: relative;
  }

  .gallery__list {
    width: auto;
    padding: 60px 0 0px;
  }
}
.features {
  width: 375px;
  height: 1060px;
  margin: auto;
  padding: 60px 20px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/Block\ 2.png");
}

.features-list {
  padding-top: 60px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.features-text-bold {
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
}
.features-text {
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
}

@media screen and (min-width: 1200px) {
  .features {
    width: 1440px;
    height: 524px;
    margin: auto;
    padding: 96px 98px 0;
    background-image: url("/image/Block\ 2\ \(1\).png");
  }
  .features-title {
    align-items: start;
    width: 500px;
    display: flex;
    align-items: start;
    justify-content: start;
  }
  .features-list {
    padding-top: 60px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 64px;
  }
  .features-item {
    width: 372px;
  }
}
.footer {
  background: rgba(48, 48, 48, 1);

  padding: 45px 0px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 28px;
}

.footer-wrapper {
  display: flex;
  flex-direction: row;

  align-items: center;

  gap: 4px;
}
.footer-text {
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0%;

  text-decoration: none;
  color: #ffffff;
}

.footer-copyright {
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0%;
}

@media screen and (min-width: 1200px) {
  .footer {
    padding: 40px 0px;
  }
  .footer-container {
    display: flex;
    flex-direction: row;

    gap: 177px;
  }

  .footer-wrapper {
    display: flex;
    flex-direction: row;

    gap: 4px;
  }
  .footer-text {
    font-family: Plus Jakarta Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
  }

  .footer-copyright {
    font-family: Plus Jakarta Sans;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0%;
  }
}
.policy-terms-container {
  padding: 123px 20px 140px;
  color: rgba(55, 55, 55, 1);
}
.policy-terms-title {
  font-family: Plus Jakarta Sans;
  font-weight: 800;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(2, 67, 98, 1);
  text-transform: uppercase;
}

.policy-terms-text {
  font-family: Plus Jakarta Sans;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;

  padding-top: 20px;
}
.policy-terms-texts {
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;

  padding-top: 8px;
}
.policy-terms-text-one {
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;

  padding-top: 20px;
}

.terms-list {
  list-style-type: disc;

  padding: 20px 0 20px 25px;
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;

  display: flex;
  flex-direction: column;
}

.terms-lists {
  list-style-type: disc;

  padding-left: 25px;
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0%;
}
.email-link {
  color: inherit;
  text-decoration: none;
}
.email-link-color {
  color: inherit;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .policy-terms-container {
    padding: 172px 88px 80px;
  }
  .policy-terms-title {
    font-family: Plus Jakarta Sans;
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: center;
  }
}

.cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.18);
  padding: 20px;
  border: 1px solid rgba(3, 148, 218, 1);
  text-align: center;
  z-index: 1000;

  display: none;
}

.cookie-popup-text-two {
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  color: rgba(45, 40, 40, 1);
}
.cookie-button-container {
  padding: 38px 0 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0px;
}
.cookie-button {
  border: none;
  width: 155px;
  height: 34px;
  padding-top: 7px;
  padding-right: 15px;
  padding-bottom: 7px;
  padding-left: 15px;
  background-color: transparent;
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: Auto;
  text-decoration-thickness: Auto;
  color: rgba(45, 40, 40, 1);
}
#accept-cookies {
  background: rgba(3, 148, 218, 1);
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}
.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .cookie-popup-text-two {
    font-family: Plus Jakarta Sans;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;

    width: 800px;
  }
  .cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  .cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;

    padding: 20px 40px;
    display: none;
  }

  .cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
